@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

:root {
  --background: hsl(210 40% 98%);
  --foreground: hsl(222 47% 11%);

  --card: hsl(0 0% 100%);

  --primary: hsl(185 91% 33%);
  --primary-foreground: hsl(210 40% 98%);

  --secondary: hsl(185 9% 3%);

  --border: hsl(214 32% 91%);
}

.dark {
  --background: hsl(222 47% 4%);
  --foreground: hsl(213 31% 91%);

  --card: hsl(222 47% 8%);

  --primary: hsl(185 91% 33%);
  --primary-foreground: hsl(213 31% 91%);

  --secondary: hsl(185 9% 3%);

  --border: hsl(217 33% 20%);
}

@theme inline {
  --font-Poppins: "Poppins", sans-serif;
  /* Colors */
  --color-border: var(--border);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-secondary: var(--secondary);

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-card: var(--card);

  /* star Animations */
  --animate-pulse-subtle: pulse-subtle 4s ease-in-out infinite;

  /* star Animations */
  @keyframes pulse-subtle {
    0%,
    100% {
      opacity: 0.2;
      transform: scale(0.8);
    }
    50% {
      opacity: 1;
      transform: scale(1.2);
    }
  }
}
/* =========================
   Base Styles
========================= */
@layer base {
  *,
  html,
  *::before,
  *::after {
    box-sizing: border-box;
    @apply scroll-smooth;
  }

  body {
    @apply p-0 m-0 font-Poppins text-[16px] text-center bg-background text-foreground transition-colors duration-300;
    font-feature-settings:
      "rlig" 1,
      "calt" 1;
  }
}

/* =========================
   Components
========================= */
@layer components {
  /* Container utility */
  .container {
    @apply max-w-7xl mx-auto px-6 lg:px-8;
  }
  .input-field{
    @apply w-full px-3 md:px-4 py-2 md:py-3 rounded-md border border-border bg-background text-sm focus:ring-2 focus:ring-primary focus:outline-none;
  }
}

/* =========================
   Utilities
========================= */
@layer utilities {
  /* Star background */
  .star {
    @apply absolute rounded-full bg-white;
    box-shadow: 0 0 10px 2px rgba(255, 255, 255, 0.4);
  }

  /* Glow text */
  .text-glow {
    @apply relative;
    text-shadow: 0 0 10px rgba(167, 139, 250, 0.5);
  }

  /* Card hover */
  .card-hover {
    @apply transition-transform duration-300 hover:scale-[1.02] hover:shadow-lg;
  }

  /* primary button */
  .cosmic-button {
    @apply px-6 py-2 rounded-full bg-primary text-white font-medium
           transition-all duration-300
           hover:shadow-[0_0_10px_rgba(139,92,246,0.5)]
           hover:scale-105 active:scale-95 cursor-pointer;
  }
}
